*,
*:after,
*:before {
  @include box-sizing(border-box);
}

::-moz-selection { background: $selection; }
::selection { background: $selection; }

img {
	max-width: 100%;
}

body {
  color: $green;
  background: $black;
  font-family: 'Source Sans Pro', sans-serif;
}
