*,
*:after,
*:before {
  @include box-sizing(border-box);
}

::-moz-selection {
  color: $black;
  background: $selection;
}
::selection {
  color: $black;
  background: $selection;
}

img {
  max-width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-size: 16px;
  color: $gray;
  background: $black-light;
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace;
}

canvas {
  width: 100% !important;
  height: auto !important;
}
