h1 {
  @include font-size($h1-font-sizes);
  margin: 0;
}

h2 {
  @include font-size($h2-font-sizes);
  letter-spacing: 0.05em;
  margin: 0.05em -1.2em 0.05em 0;
}

h4 {
  margin-top: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h3,
h4,
p,
small {
  @include font-size($site-font-size);
}
