// Maps

$h1-font-sizes: (
  null   : 32px,
  480px  : 2em,
  768px  : 4em,
  1024px : 6em,
  1280px : 12em
);

$h2-font-sizes: (
  null  : 18px,
  480px : 1.125em
);

$h3-font-sizes: (
  null  : 22px,
  480px : 1.375em
);

$h4-font-sizes: (
  null  : 18px,
  480px : 1.125em
);

$p-font-sizes: (
  null  : 16px,
  480px : 1em
);

$site-font-size: (
  null  : 16px,
  480px : 1em
);
