// Maps

$h1-font-sizes: (
  null: 28px,
  320px: 1.75em
);

$h1-headroom-sizes: (
  null: 18px,
  320px: 1.5em
);

$h2-font-sizes: (
  null: 20px,
  480px: 1.25em,
  768px: 1.5rem
);

$h3-font-sizes: (
  null: 22px,
  480px: 1.375em
);

$h4-font-sizes: (
  null: 18px,
  480px: 1.125em
);

$p-font-sizes: (
  null: 16px,
  480px: 1em
);

$site-font-size: (
  null: 16px,
  480px: 1em
);
