$white: #ffffff;
$black: #1d292b;
$green: #86ac7a;
$red: #d15159;
$gray: #b7bbb4;
$selection: rgba(147, 138, 130, 0.25);
$border: rgba(147, 138, 130, 0.25);
$body: $black;
$header: #aa9f96;
$copy: #2b71d9;
$hit: $gray;
