// Colors

$white     : #F7F8F9;
$black     : #12130E;
$green     : #86AC7A;
$orange    : #AA5B28;
$gray      : #8B8B85;
$selection : rgba(147, 138, 130, .25);
$border    : rgba(147, 138, 130, .25);

$body      : #ECEEF1;
$header    : #AA9F96;
$copy      : #2B71D9;
$hit       : #A5ACB7;
