$white: #ffffff;
$black: #1a1c23;
$gray: #b7bbb4;
$selection: rgba(147, 138, 130, 0.25);
$border: rgba(147, 138, 130, 0.25);
$body: $black;
$header: #aa9f96;
$copy: #2b71d9;
$hit: #282a35;
$yellow: #efc954;

$dark-purple: #152236;
$light-purple: #19263c;
$very-light-purple: #253450;