.header {
  @include clearfix;
  @include transition(all 300ms ease-in-out);
  position: fixed;
  color: $gray;
  background-color: $black;
  width: 100%;
  padding: 15px 0;
  z-index: 2;

  &.unpinned,
  &.pinned {
    background-color: $hit;

    .header__heading {
      @include font-size($h1-headroom-sizes);
    }
  }
}

.header__heading {
  float: left;

  a {
    @include transition(all 300ms ease-in-out);
    color: $gray;
    text-decoration: none;

    &:hover {
      color: $gray-mid;
    }
  }
}

.header__link {
  @include transition(all 300ms ease-in-out);
  color: $black;
  background-color: $gray;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  float: right;

  &:hover {
    color: $hit;
  }
}
