@import "superior";

.grid {
  @include cols;
}

.data {
  color: $yellow;
  background-color: $blue;
  padding: 100px 0 50px;
}

.data__chart {
  @include size(100%, 300px);
  position: relative;
}

.movies {
  position: relative;
  width: 100%;
  padding: 50px 0;
}

.movies__tickets {
  align-items: stretch;
  align-content: stretch;
}

.movies__ticket__col {
  @include make-flex(12);
  @include screen-between(475px, 768px) {
    @include update-flex(6);
  }
  @include screen-between(768px, 1024px) {
    @include update-flex(4);
  }
  @include screen-above(1024px) {
    @include update-flex(3);
  }
  position: relative;
  margin-bottom: 20px;
}

.movies__ticket__content {
  border-top: 1px solid $blue;
  padding: 25px 0;
}

.movies__theatres {
  margin: 0;
  padding: 5px 0;
  border-radius: 5px;
}
