@import "superior";

.grid {
  @include cols;
}

.data {
  color: $gray;
  background-color: $black;
  padding: 100px 0 50px;
  overflow: hidden;
}

.data__chart {
  @include screen-below(768px) {
    @include size(100%, 150px);
  }
  @include size(100%, 300px);
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
}

.movies {
  position: relative;
  width: 100%;
  padding: 50px 0;
}

.movies__tickets {
  align-items: stretch;
  align-content: stretch;
}

.movies__ticket {
  @include make-flex(12);
  @include screen-between(475px, 768px) {
    @include update-flex(6);
  }
  @include screen-between(768px, 1024px) {
    @include update-flex(4);
  }
  @include screen-above(1024px) {
    @include update-flex(3);
  }
  position: relative;
  margin-bottom: 20px;
}

.movies__ticket-content {
  @include size(auto, 100%);
  background-color: $black;
  border-radius: 5px;
  padding: 25px;
}

.movies__theatres {
  margin: 0;
  padding: 5px 0;
  border-radius: 5px;
}
