@import "superior";

.data {
  padding: 150px 0 100px;
}

.data__chart {
  padding: 50px;
  border-radius: 10px;
  background-color: $hit;
}

.movies {
  position: relative;
  width: 100%;
  padding: 0 0 150px;
}

.movies__tickets {
  @include cols;
  align-items: stretch;
  align-content: stretch;
}

.movies__ticket__col {
  @include make-flex(12);
  @include screen-above(768px) {
    @include update-flex(3);
  }
  position: relative;
  margin-bottom: 10px;
}

.movies__ticket__content {
  @include size(100%);
  @include ratio(16, 9);
  background-color: #232f3d;
  padding: 25px;
}
